# Port chạy server
PORT=4000
NODE_ENV=production

# Database (Bắt buộc dùng file cố định để backup)
DATABASE_URL=sqlite.db

# Security Secrets (Phải đổi thành chuỗi ngẫu nhiên và bảo mật ở Production)
JWT_SECRET=super_secret_jwt_key_please_change_in_production
CSRF_SECRET=super_secret_csrf_key_please_change_in_production
